/* 
#000000 preto
#ff0000 vermelho
#ffffff branco
*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Arial, sans-serif;
 scroll-behavior: smooth;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


body{
    background-color: black;

}
h1{
    color: #ffffff;
    
}

h2{
    color: #ff0000;
    font-size: 2.5em;
}

h3{
    color: #ff0000;
    font-size: 2em;
}

p{
    color: #ffffff;
    font-size: 1.5em;
}

footer{
    color: #ff0000;
}

header{
    background-color: #ff0000;
    color: #ffffff;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;

}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 2em;
    font-weight: bold;
}


.banner{
    background: url(../img/banner3.jpg) no-repeat center/cover;
    height: 400px;
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
    text-shadow: 2px 5px 5px #ff0000;
}

@media (max-width:675px){
    header .container{
        flex-direction: column;
        text-align: center;
    }
    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }
    .banner{
        margin-top: 170px;
    }
}

