/* 
#000000 preto
#ff0000 vermelho
#ffffff branco
*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family:   "Merienda", cursive;
 scroll-behavior: smooth;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


body{
    background-color: #000000;

}

section{
    scroll-margin-top: 100px;
}

p{
    color: #ffffff;
}

h1{
    color: #ffffff;
}

h2{
    color: #ff0000;
}

h3{
    color: #ff0000;
    
}


footer{
    color: #ff0000;
}

header{
    background-color: #ff0000;
    color: #ffffff;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;

}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 2em;
    font-weight: bold;
}


.banner{
    background: url(../img/novobanner.jpeg) no-repeat center/cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 5px 5px #ff0000;
}

.bannercontato{
    background: url(../img/novobanner.jpeg) no-repeat center/cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 5px 5px #ff0000;
}

.ctt{
    text-align: center;
    padding: 20px;

}

.footerctt{
    text-align: center;
    padding: 10px;
}



.logoctt a{
    text-decoration: none;
    font-size: 2em;
    color: #ffffff;
}

.formulario-contato {
    background-color: darkgray;
    padding: 30px;
    border-radius: 12px;
    box-shadow:  0 4px 8px rgba(177, 174, 174);
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
  }

  .grupo-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: left;
  }

  .grupo-form input,
  .grupo-form select,
  .grupo-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    margin-top: 8px;
  }

  .grupo-form input[type="checkbox"],
  .grupo-form input[type="radio"] {
    margin-right: 4px;
    margin-top: 0;
  }

  .grupo-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .tabela {
    width: 90%;
    margin: 40px auto;
    text-align: center;

}

.tabela h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #1e1e1e;
}


.tabela table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 2px solid #ffffff;
}

.tabela th, .tabela td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.tabela th, .film{
    width: 10px;
}

.tabela th {
   
    background-color: #ff0000 ;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tabela tr{
    background-color:darkgray;

}



#Sobre{
    padding: 35px;
    background-color: #000000;
    color: #ffffff;
}

.sobre-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400;
    margin: auto;
}

.sobre-texto{
    flex: 1;
    padding: 20px;
    margin-top: 20px;
}

.sobre-texto h1{
    font-size: 1.5;
    color: #ffffff;
}

.sobre-texto p{
    font-size: 1;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
    color: #ffffff;
}

.sobre-texto h2{
    margin-top: 15px;
    color: #ff0000;

}

.sobre-texto a{
    color: #ff0000;
    text-decoration: none;
    font-size: 0.9em;
}

.modal-content .link{
    color: #ff0000;
    text-decoration: none;
    font-size: 0.9em;
}

.container .link{
    color: #ff0000;
    text-decoration: none;
    font-size: 0.9em;
}

.Fonte{
    font-size: 0.9em;
}
.hex-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;

}

.hex{
    width: 170px;
    height: 150px;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    overflow: hidden;
    background-color: #000000;
    position: relative;
}

.hex img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgcard{
    width: 70%;
}


#Filmes .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    gap: 30px;
    text-align: center;
    padding: 50px 0;
}

#Filmes .item{
    background-color: darkgray;
    border: 1px solid darkgray;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(177, 174, 174);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

#Filmes .item:hover{
    transform: translateY(-7px);
    box-shadow: 0 8px 16px rgba(177, 174, 174);
}

#Filmes .item:active{
    transform: scale(0.98);
    box-shadow: 0 4px 6px rgba(177, 174, 174);
}

#Filmes .item p{
    margin-top: 25px;
    font-size: 0.9em;
    color: #ffffff;
}

#Filmes .card img{
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.modal{
    background: darkgray;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(161, 158, 158, 0.521);
    margin-top: 10px;
    margin: auto;
    text-align: center;
}

.modal h3{
    margin-top: 0;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #ff0000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(161, 158, 158, 0.521);
    display: none;
   justify-content: center;
   align-items: center;
}

.modal:target{
    display: flex;
}

.modal-content{
    max-height: 90vh;
    overflow-y: auto;
    background: darkgrey;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: justify;
    box-shadow: 0 5px 20 px rgba(161, 158, 158, 0.521);
}

.close-btn{
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    background: #ff0000;
    color: #ffffff;
    border-radius: 6px;
    text-decoration: none;
}

section{
    scroll-margin-top: 200px;
}

.modal{
    margin-top: 100px;
    
}

.modal p{
    padding: 20px;
}

.modal h3{
    text-align: center;
}

.modal-content{
    max-height: 60vh;
}

#galeria {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: transparent;
    text-align: center;
}

#galeria h2 {
    margin-bottom: 30px;
    color: #333333;
    font-size: 2.5rem;
}

.foto-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 100%;
    
}

.foto-galeria, .foto{
    padding: 10px;
}


.imgaleria {
    overflow: hidden;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.foto {
    width: 220px;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}


.foto:hover {
    transform: scale(1.05);
}

@media (max-width:675px){
    header .container, .sobre-container{
        flex-direction: column;
        text-align: center;
    }
    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }
    .banner{
        margin-top: 170px;
    }

    section{
        scroll-margin-top: 200px;
    }

    .modal{
        margin-top: 100px;
    }
    
    .modal-content{
        max-height: 60vh;
    }

   .item{
    max-width: 90%;
    margin: 21px;
   }

    .foto-galeria {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    

    
}

